$select-background-color: #fff !default;
$select-border: 1px solid color($grey, 400) !default;
$select-arrow-color: $grey !default;
$select-border-radius: 3px !default;
$select-height: 40px !default;
$select-width: 120px !default;

select.custom {
  display: none;
  padding-right: 10px;
  visibility: hidden;
}

.select {
  background-color: $select-background-color;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  height: $select-height;
  padding: 0 10px;
  position: relative;
  vertical-align: middle;
  width: $select-width;
}

.select-styled {
  @include transition(all 0.2s ease-in);

  border: $select-border;
  border-radius: $select-border-radius;
  bottom: 0;
  left: 0;
  padding: 8px 15px;
  position: absolute;
  right: 0;
  top: 0;

  &:after {
    border: 7px solid transparent;
    border-color: $select-arrow-color transparent transparent;
    content: "";
    height: 0;
    position: absolute;
    right: 10px;
    top: 16px;
    width: 0;
  }

  &:hover {
    background-color: darken($select-background-color, 2);
  }

  &:active,
  &.active {
    background-color: darken($select-background-color, 5);

    &:after {
      border-color: transparent transparent $select-arrow-color;
      top: 9px;
    }
  }
}

.select-options {
  background-color: $select-background-color;
  border: $select-border;
  border-radius: $select-border-radius;
  box-shadow: 2px 2px 2px color($grey, 600);
  display: none;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 100%;
  width: $select-width + 20px;
  z-index: 999;

  li {
    @include transition(all 0.15s ease-in);

    border-top: 1px solid color($grey, 300);
    margin: 0;
    padding: 12px 0;
    text-indent: 15px;

    &:hover {
      background: darken($select-background-color, 10);
    }

    &[rel="hide"] {
      display: none;
    }

    &:first-child {
      border: 0;
    }
  }
}
