// A collection of mixins used in Codelation Rails projects
// https://codelation.com
$mobile-breakpoint: 767px !default;

@import "bourbon";
@import "codelation/functions/**/*";
@import "codelation/mixins/**/*";
@import "normalize";

// Border Box by default for all elements
html { // http://bit.ly/1qk2tVR
  box-sizing: border-box;
}

* {
  &,
  &::after,
  &::before {
    box-sizing: inherit;
  }
}
